html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  height: 11vh;
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 15;
  -webkit-animation: loading 0.5s;
          animation: loading 0.5s;
}

.navbar .navbar-toggler {
  border: none !important;
  margin-left: auto !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .navbar-toggler #myclose {
  display: none;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand #logo-sekolah-putih {
  width: 30vh;
  display: none;
}

.navbar .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .collapse .nav-link {
  font-weight: 600;
  margin: 0 0.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .collapse .nav-link:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.shownav {
  -webkit-animation: loadingstickynav 1s;
          animation: loadingstickynav 1s;
}

.removenav {
  -webkit-animation: removestickynav 1s;
          animation: removestickynav 1s;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #217AD3;
  height: 82vh;
  width: 100%;
}

.hero-image .hero-image-content img {
  width: 600px;
}

.hero-image-nopad {
  background-color: rgba(0, 0, 0, 0.829);
}

.hero-image-nopad .slide1 {
  background-image: url("/img/pexels-fauxels-3184317.jpg");
}

.hero-image-nopad .slide2 {
  background-image: url("/img/pexels-tranmautritam-326501.jpg");
}

.hero-image-nopad .hero-image-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-size: cover;
}

.hero-image-nopad .hero-image-content .mycarousel-caption {
  z-index: 10;
  color: white;
  text-align: center;
  border: solid 2px white;
  padding: 1em 2em;
}

.hero-image-nopad .hero-image-content .mycarousel-caption h3 {
  margin: 0;
}

.selamat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  background-color: white;
}

.selamat-wrapper .medsos-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
}

.selamat-wrapper .medsos-wrapper ul li {
  padding: 0 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.selamat-wrapper .medsos-wrapper ul li a {
  text-decoration: none;
}

.selamat-wrapper .medsos-wrapper ul li a img {
  width: 34px;
}

.selamat-wrapper .medsos-wrapper ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bagiandarikami a {
  text-decoration: none;
}

.bagiandarikami a .box {
  position: relative;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 1em;
  -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  border-left: 40px solid #217AD3;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.bagiandarikami a .box ul {
  list-style-type: none;
}

.bagiandarikami a .box ul li {
  font-family: "Roboto", sans-serif;
  margin-left: -2em;
}

.box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.keunggulan {
  margin-bottom: 5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.keunggulan .title-keunggulan {
  border: 1px solid white;
}

.keunggulan .title-keunggulan h1 {
  margin-top: 5em;
  font-size: 60px;
}

.keunggulan .title-keunggulan p {
  font-size: 16px;
}

.keunggulan .title-keunggulan .line {
  width: 500px;
  height: 1px;
  background-color: #217AD3;
}

.keunggulan .box-keunggulan {
  margin-bottom: 5em;
}

.keunggulan .box-keunggulan .wrapper {
  position: relative;
  -webkit-transition: -webkit-animation 5s;
  transition: -webkit-animation 5s;
  transition: animation 5s;
  transition: animation 5s, -webkit-animation 5s;
  border-radius: 5px;
  padding: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.keunggulan .box-keunggulan .wrapper .konten {
  display: block;
}

.keunggulan .box-keunggulan .wrapper .konten h2 {
  height: 73px;
}

.keunggulan .box-keunggulan .wrapper .konten img {
  width: 190px;
}

.keunggulan .box-keunggulan .wrapper .konten p {
  margin: 0 10px;
  font-size: 18px;
}

.keunggulan .box-keunggulan .wrapper:hover {
  background-color: #217AD3;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.totop-wrapper {
  position: fixed;
  z-index: 15;
  bottom: 5%;
  right: 3%;
  background-color: #55efc4;
  border-radius: 10px;
}

.totop-wrapper .totop {
  display: block;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes boxmoveup {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes boxmoveup {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@-webkit-keyframes boxmoveright {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes boxmoveright {
  from {
    left: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@media screen and (max-width: 460px) {
  .keunggulan h1 {
    font-size: 35px !important;
  }
  .hero-image .hero-image-content img {
    width: 350px !important;
  }
}

@media screen and (max-width: 520px) {
  .carousel, .slide {
    display: none !important;
  }
  .selamat-wrapper {
    height: 10vh;
  }
}

@media screen and (max-width: 615px) {
  .line {
    width: 100% !important;
  }
  .linelarge {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .navbar .collapse:not(.show) {
    display: none !important;
  }
  .navbar .collapse {
    display: block;
  }
  .navbar .collapse .nav-link {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 0 !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar .collapse .nav-link:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .hero-image .hero-image-content img {
    width: 400px;
  }
  .box {
    display: block !important;
  }
  .box:hover {
    -webkit-transform: scaleX(1.03);
            transform: scaleX(1.03);
  }
  .movetoup {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .box {
    margin-bottom: 1em;
  }
  .box-keunggulan {
    -webkit-box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.25);
  }
  .box-keunggulan .wrapper {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    display: block !important;
  }
  .box-keunggulan .wrapper p {
    padding: 1em;
  }
}

@media screen and (min-width: 1919px) {
  .navbar .navbar-brand #logo-sekolah-putih {
    width: 400px;
  }
  .nav-link {
    font-size: 22px !important;
  }
  .hero-image .hero-image-content img {
    width: 900px !important;
  }
  .selamat {
    padding: 1.5em !important;
  }
}

.movetoup {
  display: block !important;
  -webkit-animation: boxmoveup 2s;
          animation: boxmoveup 2s;
}

.myblue {
  color: #217AD3;
}

.linelarge {
  width: 800px;
  height: 1px;
  margin: auto;
  background-color: #217AD3;
}

.reveal-right {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.reveal-right.active {
  -webkit-animation: boxmoveright 1.5s;
          animation: boxmoveright 1.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.reveal-up {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.reveal-up.active {
  -webkit-animation: boxmoveup 1.5s;
          animation: boxmoveup 1.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */