$myblue:#217AD3;
$myshadow:0 0.25rem 0.2rem rgba(0,0, 0, 0.25);
$mymargin: 5em;
$roboto:'Roboto', sans-serif;

html {
    scroll-behavior: smooth;
}
body {
    background-color: #e5e5e5;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    box-shadow:$myshadow;
    background-color: white;
    z-index: 1;

    .navbar-toggler {
        margin-left:auto!important ;
    }
    .navbar-brand {
        display:unset;

        #logo-sekolah, #logo-sekolah-putih {
            width: 263px;
            display: none;
        }
    }
    .collapse {
        display: flex;
        justify-content: center;
        
        .nav-link {
            font-weight: 600;
            padding: 1em;
        }
        .nav-link:hover {
            transform: scale(1.15);
            transition: 0.3s;
        }
    }
}
.hero-image {
    display: flex;
    justify-content: center;
    background-color: $myblue;

    .hero-image-content {
        

        .title {
            font-family: $roboto;
            text-shadow:1px 2px 4px rgba(0,0, 0, 0.35);
            color: white;
            font-size: 50px;
        }
    }
}
.hero-image-nopad {
    background-color: rgba(0, 0, 0, 0.829);
    
    .hero-image-content {

        .carousel-caption {
            opacity: 2;
    
            h3 {
                font-weight: bold;
            }
            .line-kecil {
                height: 2px;
                width: 50px;
                background-color:white;
                margin: auto;
            }
        }
        img {
            width: 100%;
            opacity: 0.20;
        }
    }
}

.selamat-wrapper {
    background-color: white;
    
    .selamat {
        padding: 1em;
        font-weight: 600;
        box-shadow: $myshadow;
        font-family: $roboto;
    }
}

.box, #box-id, #box-ids, #box-idz {
    position: relative;
    display: none;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 1em;
    box-shadow: $myshadow;
    border-top: 0.15em solid $myblue;
    border-radius: 4px;
    a {
        text-decoration: none;

        ul {
            list-style-type: none;
            
            li {
                margin-left: -2em;
            }
        }
    }
   
}
.box:hover {
    transform: scale(1.10);
    transition: 0.3s;
    
}


// -------------------------------------------
.keunggulan {
    margin-bottom:$mymargin;
    height: 700px; 
    
    div {
        .line {
            width: 500px;
            height: 1px;
            background-color: $myblue;
        }
    }
    .box-keunggulan {
        div p {
            font-size: 25px;
            
        }
    }
}
// ------------------- Key Frames -----------------

@keyframes boxmoveup {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes boxmoveright {
    from {
        left: -50px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}
// ------------------- Media Quaries -----------------
@media screen and (max-width: 991px) {
    .navbar {
        .collapse:not(.show) {
            display: none!important;
         
        }
        .collapse {
            display: block;

            .nav-link {
                padding-left: 0!important;
                transition: 0.3s;
            }
            .nav-link:hover {
                transform: none;
            }
        }
    }
    .box {
        display: block!important;
    }
    .box:hover {
        transform: scaleX(1.03);
    }
    .movetoup {
        animation: none!important;
    }
    #dot {
        display: none;
    }
    .slide, .carousel {
        display: none!important;
    }

   .box {
        margin-bottom: 1em;    
   }
   
}
// ------------------------------------------
@media screen and (max-width: 375px) {
    .navbar {
        .navbar-brand {
            #logo-sekolah-putih {
                width: 210px!important;
                height: 50px!important;
            }
        }
    }
}

//--------------------------------------------
@media screen and (max-width: 615px) {
    .line {
        width:  100%!important;
    }
}



// ------------------- Spawn Classs -----------------
.movetoup {
    display: block!important;
    animation: boxmoveup 2s;
}
.myblue {
    color: #217AD3;
}
