$myblue:#217AD3;
$myshadow:0 0.25rem 0.2rem rgba(0,0, 0, 0.25);
$mymargin: 5em;
$roboto:'Roboto', sans-serif;
$fontkecil: 14px;

$fontbesar:32px;


html {
    scroll-behavior: smooth;
}
body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    box-shadow:$myshadow;
    background-color: white;
    z-index: 15;
    animation: loading 0.5s;

    .navbar-toggler {
        margin-left:auto!important ;
    }
    .navbar-brand {
        display:unset;

        #logo-sekolah, #logo-sekolah-putih {
            width: 263px;
            display: none;
        }
    }
    .collapse {
        display: flex;
        justify-content: center;
        
        .nav-link {
            font-weight: 600;
            padding: 1em;
            transition: 0.3s;
        }
        .nav-link:hover {
            transform: scale(1.15);
        }
    }
}


.shownav {
    animation: loadingstickynav 1s;
}
.removenav {
    animation: removestickynav 1s;
}

.hero-image {
    display: flex;
    justify-content: center;
    background-color: $myblue;
    height: 81vh;
    width: 100%;
    
    .hero-image-content {
        
        img {
            width: 600px;
        }

    }
}
.hero-image-nopad {
    background-color: rgba(0, 0, 0, 0.829);
   
    .slide1 {
        background-image: url("/img/pexels-fauxels-3184317.jpg");
        
    }
    .slide2 {
        background-image: url("/img/pexels-tranmautritam-326501.jpg"); 
    }
    .hero-image-content {
        display:grid;
        place-items: center;
        background-size: cover;
        
        .mycarousel-caption {
            z-index:10;
            color:white;
            text-align: center;
            border: solid 2px white;
            padding: 1em 2em;

            h3 {
                margin: 0;
            }
        }
    }
}


.selamat-wrapper {
    background-color: white;
    
    .selamat {
        padding: 1em;
        font-weight: 600;
        box-shadow: $myshadow;
        font-family: $roboto;
    }
}
a {
    text-decoration: none;

    .box {
        position: relative;
        display: none;
        background-color: white;
        padding-top: 2em;
        padding-bottom: 1em;
        box-shadow: $myshadow;
        border-top: 2px solid $myblue;
        border-radius: 4px;
        transition: transform 0.2s;
    
            ul {
                list-style-type: none;
                
                li {
                    font-family: $roboto;
                    margin-left: -2em;
                }
            }
       
       
    }
}

.box:hover {
    transform: scale(1.10);
}


// -------------------------------------------
.keunggulan {
    margin-bottom:$mymargin;
    height: fit-content; 
    
    div {
        p {
            font-size: 14px;
        }
        .line {
            width: 500px;
            height: 1px;
            background-color: $myblue;
        }
    }
    .box-keunggulan {
        margin-bottom:$mymargin;
        .wrapper {
            position: relative;
            display: none;
            transition: animation 5s;
            border-radius: 5px;
            padding: 1em;
            box-shadow:1px 1px 2px 1px rgba(0,0, 0, 0.25);
            .konten {
                display: block;
                h2 {
                    
                    height: 73px;
                }
                img {
                    width: 190px;
                }
                p {
                    margin:0 10px;
                    font-size: 18px;
                }
            }
        }
    }
}
.totop-wrapper {
    position: fixed;
    z-index: 15;
    bottom: 5%;
    right: 3%;
    background-color: #55efc4;
    border-radius: 10px;

    .totop {
        display: block;
        color: white;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    
}
// ------------------- Key Frames -----------------
@keyframes loading {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes boxmoveup {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes boxmoveright {
    from {
        left: -550px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}
// ------------------- Media Quaries -----------------
@media screen and (max-width: 991px) {
    .navbar {
        .collapse:not(.show) {
            display: none!important;
         
        }
        .collapse {
            display: block;

            .nav-link {
                padding-left: 0!important;
                transition: 0.3s;
            }
            .nav-link:hover {
                transform: none;
            }
        }
    }
    .box {
        display: block!important;
    }
    .box:hover {
        transform: scaleX(1.03);
    }
    .movetoup {
        animation: none!important;
    }
    #dot {
        display: none;
    }
    #dot1 {
        display: none;
    }
    .slide, .carousel {
        display: none!important;
    }

   .box {
        margin-bottom: 1em;    
   }
   .box-keunggulan {
        .wrapper {
            height: fit-content!important;
            box-shadow:none!important;
            display: block!important;

            p {
                padding: 1em;
            }
        }    
    }

}
// ------------------------------------------
@media screen and (max-width: 375px) {
    .navbar {
        .navbar-brand {
            #logo-sekolah-putih {
                width: 210px!important;
                height: 50px!important;
            }
        }
    }
}

//--------------------------------------------
@media screen and (max-width: 615px) {
    .line {
        width:  100%!important;
    }
    .linelarge {
        width: 100%!important ;
    }



}
//----------------------------------------------
@media screen and (min-width: 1920px) {
    .navbar {
        .navbar-brand {
            #logo-sekolah-putih {
                width:400px;
            }
        }
    }
    .nav-link {
        font-size: 22px!important;
    }
    .hero-image {

        .hero-image-content {
            
            img {
                width: 900px!important;
            }
            
        }
    }

    .selamat {
        padding:1.5em!important;
    }
}


// ------------------- Spawn Classs -----------------
.movetoup {
    display: block!important;
    animation: boxmoveup 2s;
}
.myblue {
    color: #217AD3;
}
.linelarge {
    width: 800px;
    height: 1px;
    margin: auto;
    background-color: $myblue;
}
//---------------------------------------------------

