$myblue:#217AD3;
$myshadow:0 0.25rem 0.2rem rgba(0,0, 0, 0.25);
$mymargin: 5em;
$roboto:'Roboto', sans-serif;
$fontkecil: 14px;
$fontbesar:32px;

html {
    scroll-behavior: smooth;
}
body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    height: 11vh;
    box-shadow:$myshadow;
    background-color: white;
    z-index: 15;
    animation: loading 0.5s;


    .navbar-toggler {
        border: none!important;
        margin-left:auto!important ;
        transition: 0.4s;
        color: white;
        #myclose {
            display: none;
        }
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        transform: scale(1.2);
        color: white;
       
    }
    .navbar-brand {
        display:flex;
        align-items: center;

        #logo-sekolah-putih {
            width:30vh;
            display: none;
        }
    }
    .collapse {
        display: flex;
        justify-content: center;
        
        .nav-link {
            display: inline-block;
            font-weight: 600;
            padding: 1em;
            transition: 0.2s;
            border-radius: 5px;
            
            
           
        }
        .nav-link:hover {
            transform: scale(1.1);
        }

    }
}


.shownav {
    animation: loadingstickynav 1s;
}
.removenav {
    animation: removestickynav 1s;
}

.hero-image {
    display: flex;
    justify-content: center;
    background-color: $myblue;
    height: 82vh;
    width: 100%;
    
    .hero-image-content {
        
        img {
            width: 600px;
           
        }

    }
}
.hero-image-nopad {
    background-color: rgba(0, 0, 0, 0.829);
   
    .slide1 {
        background-image: url("/img/pexels-fauxels-3184317.jpg");
        
    }
    .slide2 {
        background-image: url("/img/pexels-tranmautritam-326501.jpg"); 
    }
    .hero-image-content {
        display:grid;
        place-items: center;
        background-size: cover;
        
        .mycarousel-caption {
            box-shadow: 1px 1px 8px 2px rgba(0,0, 0, 0.25);
            z-index:10;
            color:white;
            text-align: center;
            border: solid 3px white;
            padding: 1em 2em;
            transition: 0.5s ease;
            animation: tibatibaMuncul 1s;

            h3 {
                margin: 0;
            }
        }
    }
}


.ContainerMedsos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    box-shadow: $myshadow;
    background-color: white;
    .medsos-wrapper {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin: 0;
            li {
               padding: 0 1em;
               transition:0.5s;
                a {
                    text-decoration: none;
                    
                    img {
                        width: 34px;
                       
                    }
                }
            }
            li:hover {
                transform: scale(1.2);
            }
        }
    }

}
.bagiandarikami {
    a {
        text-decoration: none;
    
        .box {
            position: relative;
            background-color: white;
            padding-top: 2em;
            padding-bottom: 1em;
            box-shadow: $myshadow;
            border-left: 40px solid $myblue;
            transition: transform 0.2s;
        
                ul {
                    list-style-type: none;
                    
                    li {
                        font-family: $roboto;
                        margin-left: -2em;
                    }
                }
        }
    }
}

.box:hover {
    transform: scale(1.10);
}


// -------------------------------------------
.keunggulan {
    height: fit-content; 
    .title-keunggulan {
        border: 1px solid white;
        h1 {
            margin-top: 5em;
            font-size: 60px;
        }
        p {
            font-size: 16px;
        }
        .line {
            width: 500px;
            height: 1px;
            background-color: $myblue;
        }
    }
    .box-keunggulan-wrapper {
        margin: auto;
        width: 85vw;
        .box-keunggulan {
            margin-bottom:$mymargin;
            .wrapper {
                position: relative;
                transition: animation 5s;
                border-radius: 5px;
                padding: 1em;
                transition: 0.3s;
                box-shadow:1px 1px 4px 2px rgba(0,0, 0, 0.25);
                .konten {
                    display: block;
                    h2 {
                        
                        height: 73px;
                    }
                    img {
                        width: 190px;
                    }
                    p {
                        margin:0 10px;
                        font-size: 18px;
                    }
                }
            }
            .wrapper:hover {
                background-color: $myblue;
                color: white;
                transition: 0.3s;
            }
        }
    }

}
.totop-wrapper {
    position: fixed;
    z-index: 15;
    bottom: 5%;
    right: 3%;
    background-color: #55efc4;
    border-radius: 10px;

    .totop {
        display: block;
        color: white;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    
}
// -----------------Ingin Tahu Detail-------------
.penerimaan {
    background-color: $myblue;
    color: white;

    .penerimaan-wrapper {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: space-around;
        
        .Sebelahkanan {
            h1 {
                font-size: 50px;
             }
        }
        .SebelahKiri {
            a {
                transition: 0.4s;
                font-weight: 600;
                background-color: white;
                padding: 0.8em 3em;
                border-radius: 30px;
            }
            a:hover {
                background-color: #2c3e50;
                color: white;
            }
        }

    }
}
// ------------------- Key Frames -----------------
@keyframes loading {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes boxmoveup {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes boxmoveright {
    from {
        left: -50px;
        opacity: 0;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
@keyframes boxmoveleft {
    from {
        right: -50px;
        opacity: 0;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@keyframes tibatibaMuncul {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
// ------------------- Media Quaries -----------------
@media screen and (max-width: 375px) {
}
//--------------------------------------------
@media screen and (max-width: 460px) {
    .keunggulan {
        h1 {
            font-size: 35px!important;
        }
    }
    .hero-image {
        
        .hero-image-content {
            
            img {
                width:350px!important;
            }
    
        }
    }
}
@media screen and (max-width: 520px) {
    .carousel, .slide {
        display: none!important;
    }
    .selamat-wrapper {
        height: 10vh;
    }
}   
//--------------------------------------------
@media screen and (max-width: 615px) {
    .line {
        width:  100%!important;
    }
    .linelarge {
        width: 100%!important ;
    }
    .penerimaan {
        .penerimaan-wrapper {
            padding: 4em 0!important;
            .Sebelahkanan {
                .tulisanGede {
                    font-size: 45px!important;
                }
            }
        }
    }
   
}
//----------------------------------------------
@media screen and (max-width: 991px) {
    .navbar {
        height: fit-content!important;
        .collapse:not(.show) {
            display: none!important;
         
        }
        .collapse {
          display: block;

            .nav-link {
                padding: 1em;
                transition: 0.3s;
            }
            .nav-link:hover {
                transform: scale(1.03);
                background-color: #398fe4;
                border-radius: 5px;
            }
        }
    }
    .hero-image {
        
        .hero-image-content {
            
            img {
                width: 400px;
            }
    
        }
    }
    .box {
        display: block!important;
    }
    .box:hover {
        transform: scaleX(1.03);
    }
    .movetoup {
        animation: none!important;
    }
   .box {
        margin-bottom: 1em;    
   }
   .box-keunggulan-wrapper {
       width: 95vw!important;
    .box-keunggulan {
        .wrapper {
            box-shadow: 1px 1px 4px 1px rgba(0,0, 0, 0.25)!important;
            height: fit-content!important;
            display: block!important;
            border-radius: 0!important;

            p {
                padding: 1em;
            }
        }    
    }
   }

    .penerimaan {
      
    
        .penerimaan-wrapper {
            display: block!important;
            
            .Sebelahkanan {
                margin-bottom: 2em;
                h1 {
                    font-size: 50px!important;
                 }
            }

        }
    }

}
//--------------------------------------
@media screen and (min-width: 1919px) {
    .navbar {
        .navbar-brand {
            #logo-sekolah-putih {
                width:400px;
            }
        }
    }
    .nav-link {
        font-size: 22px!important;
    }
    .hero-image {
        .hero-image-content {
            
            img {
                width: 900px!important;
            }
            
        }
    }
    .selamat {
        padding:1.5em!important;
    }
}


// ------------------- Spawn Classs -----------------
.movetoup {
    display: block!important;
    animation: boxmoveup 2s;
}
.myblue {
    color: #217AD3;
}
.linelarge {
    width: 800px;
    height: 1px;
    margin: auto;
    background-color: $myblue;
}
.reveal-right {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal-right.active {
    animation: boxmoveright 1.5s;
    transform: translateY(0px);
    opacity: 1;
}
.reveal-up {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal-up.active {
    animation: boxmoveup 1.5s;
    transform: translateY(0px);
    opacity: 1;
}
.reveal-left {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal-left.active {
    animation: boxmoveleft 1.5s;
    transform: translateY(0px);
    opacity: 1;
}
//---------------------------------------------------

