$primaryColor:#0061A8;
$myshadow:-2px 2px 4px 0px rgba(0,0,0,0.20);

@media screen and (max-width:1200px) {

}
@media screen and (max-width: 991px) {
    .navbar {
        .navbar-brand {
            display: none;
        }
        .logo-kanan {
            display: block;
        }
        .navbar-nav {
            border-radius: 10px;
            z-index: 4;
            background-color: #fff;
            .nav-item {
                .nav-link {
                    padding: 10px 0;
                    font-size: 20px;
                }
                .nav-line {
                    display: none;
                }
            }
        }
        .others {
            display: none;
        }
    }
    .hero__ .hero__box{
        .title {
            h1 {
                font-size:50px!important;   
            }
            p {
                font-size: 12px!important;
            }
            .resume__button, .kontak__button {
                font-size: 10px;
            }
        }
        .sabiq__ {
            width: 350px;
        }
    }       
            
    
}
@media screen and (max-width: 767px) {
    .hero__ .hero__box {
        text-align: center;
        margin: auto;
        .title {
            p {
               display: none;
            }
            a {
                display: none;
            }
        }    
        p {
            display: none;
        }
    }
    // This Display When SMALL
    .title__down {
        display:block;
    }

    // SPAWN CLASS
    .marginTop__sm {
        margin-top: 50px ;
    }
}