* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0061A8;
}

::-webkit-scrollbar-thumb:hover {
  background: #28B5B5;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.navbar {
  z-index: 5;
  background-color: #fff;
}

.navbar .logo-kanan {
  display: none;
}

.navbar .navbar-toggler {
  border: 0 !important;
  position: relative;
  z-index: 4;
}

.navbar .navbar-toggler .humburger-satu, .navbar .navbar-toggler .humburger-dua, .navbar .navbar-toggler .humburger-tiga {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 3px;
  background-color: #0061A8;
}

.navbar .navbar-toggler .humburger-satu {
  width: 20px;
}

.navbar .navbar-toggler .humburger-dua, .navbar .navbar-toggler .humburger-tiga {
  width: 34px;
}

.navbar .navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item .nav-line {
  letter-spacing: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item .nav-line {
  width: 0;
  height: 2px;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #0061A8;
}

.navbar .navbar-nav .nav-item:hover .nav-line {
  width: 100%;
  background-color: #0061A8;
}

.others__nav .git .nav-link {
  color: #0061A8 !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.others__nav .git .nav-link i {
  color: #0061A8;
  font-size: 18px;
}

.others__nav .git .nav-link span {
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.others__nav .git:hover .nav-link {
  margin-right: 15px;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.others__nav .git:hover .nav-link span {
  margin-left: 5px;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero__container {
  position: relative;
  z-index: 0;
  background-color: #fff;
  max-width: 1368px;
}

.hero__container .hero__box {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container .hero__box .title h1 {
  margin: 0 !important;
  color: #0061A8;
  font-size: 75px;
  font-weight: 600;
}

.hero__container .hero__box .title h1 span {
  font-size: 18px;
}

.hero__container .hero__box .title p {
  margin: 27px 0;
  line-height: 180%;
  color: #aaaaaa;
}

.hero__container .hero__box .title p span {
  color: #28B5B5;
  font-weight: 600;
}

.hero__container .hero__box .title .resume__button, .hero__container .hero__box .title .kontak__button {
  width: 150px;
  padding: 12px 0;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  font-size: 14px;
}

.hero__container .hero__box .title .kontak__button {
  color: white;
  background-color: #0061A8;
}

.hero__container .hero__box .title .kontak__button i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(-250deg);
          transform: rotate(-250deg);
}

.hero__container .hero__box .title .resume__button {
  color: #0061A8;
  border: 1px solid #0061A8;
}

.hero__container .hero__box .title .resume__button i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero__container .hero__box .title .resume__button:hover i {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.hero__container .hero__box .title .kontak__button:hover i {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

#sabiq {
  z-index: 4;
  position: relative;
  width: 500px !important;
}

.fa-space-shuttle {
  position: relative;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: rocket cubic-bezier(0, -0.02, 0.49, 0.13) 5s;
          animation: rocket cubic-bezier(0, -0.02, 0.49, 0.13) 5s;
  opacity: 0;
}

.hero__container__small {
  z-index: 3;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  display: none;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__container__small p {
  font-size: 14px;
}

.hero__container__small p span {
  color: #28B5B5;
  font-weight: 600;
}

.hero__container__small div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__container__small div .contact__button__sm, .hero__container__small div .resume__button__sm {
  width: 160px;
  padding: 18px 0;
  font-size: 12px;
}

.hero__container__small .resume__button__sm {
  color: white;
  background: #0061A8;
}

.hero__container__small .contact__button__sm {
  color: #0061A8;
  font-weight: 400;
  border: 1px solid #0061A8;
}

li {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

.noBorder {
  border: 0 !important;
}

.bordered {
  border: 1px solid red;
}

.active {
  color: #0061A8 !important;
}

.rotated_hum1 {
  width: 34px !important;
  -webkit-transform: rotate(45deg) translateY(1px) !important;
          transform: rotate(45deg) translateY(1px) !important;
}

.rotated_hum3 {
  -webkit-transform: rotate(-45deg) translateY(-2px) !important;
          transform: rotate(-45deg) translateY(-2px) !important;
}

.changed {
  -webkit-transform: translateX(70px) !important;
          transform: translateX(70px) !important;
}

@media screen and (max-width: 991px) {
  .navbar .navbar-brand {
    display: none;
  }
  .navbar .logo-kanan {
    display: block;
  }
  .navbar .navbar-nav {
    border-radius: 10px;
    z-index: 4;
    background-color: #fff;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 10px 0;
    font-size: 20px;
  }
  .navbar .navbar-nav .nav-item .nav-line {
    display: none;
  }
  .navbar .others__nav {
    display: none;
  }
  .hero__container .hero__box .title h1 {
    font-size: 50px !important;
  }
  .hero__container .hero__box .title p {
    font-size: 12px !important;
  }
  .hero__container .hero__box .title .resume__button, .hero__container .hero__box .title .kontak__button {
    font-size: 10px;
  }
  .hero__container .hero__box #sabiq {
    width: 300px !important;
  }
}

@media screen and (max-width: 767px) {
  .hero__container .hero__box {
    text-align: center;
    margin: auto;
  }
  .hero__container .hero__box .title p {
    display: none;
  }
  .hero__container .hero__box .title a {
    display: none;
  }
  .hero__container .hero__box p {
    display: none;
  }
  .hero__container__small {
    display: block !important;
  }
  .marginTop__sm {
    margin-top: 50px;
  }
}

@-webkit-keyframes rocket {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 500px;
  }
}

@keyframes rocket {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: 500px;
  }
}

@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.moveto__right {
  display: block !important;
  -webkit-animation: right 0.5s;
          animation: right 0.5s;
}

@-webkit-keyframes boxmoveup {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes boxmoveup {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.reveal-up {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.reveal-up.active {
  opacity: 1;
  -webkit-animation: boxmoveup 1s;
          animation: boxmoveup 1s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=style.css.map */